body {
    font-family: 'Noto Sans', sans-serif;
    padding: 50px;
    color: #727272;
    font-weight: 400;
}

p {
    margin: 0;
}

strong {
    color: #222;
    font-weight: 700;
}

h1,h2,h3 {
    line-height:1.1
}

h1 {
    font-size:28px;
    color: #222;
}

h2 {
    color:#393939
}

h3,h4,h5,h6{
    color:#494949
}


a {
    color:#267CB9;
    text-decoration:none}

a:hover, a:focus {
    color:#069;
    font-weight:bold
}
