---
---

@import "{{ site.theme }}";

.wrapper {
    width: 100%;
}

header {
    display: none;
}

footer {
    display: none;
}

section {
    width: 80%;
    float: none;
}

ul ul {
    margin: 0 0 5px;
}
